# NumPy

<b>Numpy</b> is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. Note that the terms <i>array</i>, <i>NumPy array</i>, or <i>ndarray</i> all refer to the same thing: the <b>ndarray</b> object.

In [285]:
import math
import numpy as np

''' Display Precicion Settings '''

np.set_printoptions(formatter={'float': '{: 0.4f}'.format})

### Creating ndarrays

In [286]:
data1 = [6, 7.5, 8, 0, 1]
arr1 = np.array(data1)
arr1

array([ 6.0000,  7.5000,  8.0000,  0.0000,  1.0000])

In [287]:
data2 = [[1, 2, 3, 4], [5, 6, 7, 8]]
arr2 = np.array(data2)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [288]:
arr2.ndim

2

In [289]:
arr2.shape

(2, 4)

Unless explicitly specified <b>np.array</b> tries to infer a good data type for the array that it creates. The data type is stored in a special <b>dtype</b> object:

In [290]:
arr1.dtype

dtype('float64')

In [291]:
arr2.dtype

dtype('int32')

In addition to <b>np.array</b>, there are a number of other functions for creating new arrays:.

<table>
   <tr>
     <th>Method</th>
     <th>Description</th>
   </tr>
   <tr>
     <td>array</td>
     <td>Convert input data (list, tuple, array, or other sequence type) to an <b>ndarray</b> either by inferring a <b>dtype</b> or explicitly specifying a <b>dtype</b>.<br>
     Copies the input data by default.</td>
   </tr>
   <tr>
     <td>asarray</td>
     <td>Convert input to <b>ndarray</b>, but do not copy if the input is already an <b>ndarray</b>.</td>
   </tr>
   <tr>
     <td>arange</td>
     <td>Like the built-in range but returns an <b>ndarray</b> instead of a list.</td>
   </tr>
   <tr>
     <td><b>ones</b>, ones_like</td>
     <td>Produce an array of all 1’s with the given shape and <b>dtype</b>.<br>
     ones_like takes another array and produces a ones array of the same shape and <b>dtype</b>.</td>
   </tr>
   <tr>
     <td><b>zeros</b>, zeros_like</td>
     <td>Like ones and ones_like but producing arrays of 0’s instead.</td>
   </tr>
   <tr>
     <td>empty, empty_like</td>
     <td>Create new arrays by allocating new memory, but do not populate with any values like ones and zeros.</td>
   </tr>
   <tr>
     <td><b>eye</b>, identity</td>
     <td>Create a square N x N identity matrix (1’s on the diagonal and 0’s elsewhere).</td>
   </tr>
</table>

To create a higher dimensional array with these methods, pass a tuple for the shape.

In [292]:
np.zeros(10)

array([ 0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
        0.0000,  0.0000,  0.0000])

In [293]:
np.zeros((3,6))

array([[ 0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000]])

In [294]:
np.ones((2,2))

array([[ 1.0000,  1.0000],
       [ 1.0000,  1.0000]])

In [295]:
np.eye(3,3)

array([[ 1.0000,  0.0000,  0.0000],
       [ 0.0000,  1.0000,  0.0000],
       [ 0.0000,  0.0000,  1.0000]])

The <b>identity</b> alternative to <b>eye</b> takes only one value:

In [296]:
np.identity(2)

array([[ 1.0000,  0.0000],
       [ 0.0000,  1.0000]])

<b>empty</b> creates an array without initializing its values to any particular value. It is not safe to assume that <b>np.empty</b> will return an array of all zeros:

In [297]:
np.empty((2, 3, 2))

array([[[ 0.0000,  0.0000],
        [ 0.0000,  0.0000],
        [ 0.0000,  0.0000]],

       [[ 0.0000,  0.0000],
        [ 0.0000,  0.0000],
        [ 0.0000,  0.0000]]])

In many cases it will return uninitialized garbage values.

<b>arange</b> is an array-valued version of the built-in Python range function:

In [298]:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

### Data Types for ndarrays

The <i>data type</i> or <b>dtype</b> is a special object containing the information the <b>ndarray</b> needs to interpret a chunk of memory as a particular type of data:

In [299]:
arr1 = np.array([1, 2, 3], dtype=np.float64)
arr1.dtype

dtype('float64')

In [300]:
arr2 = np.array([1, 2, 3], dtype=np.int32)
arr2.dtype

dtype('int32')

<b>Dtypes</b> are part of what make NumPy so powerful and flexible.

It is often only necessary to care about the general kind of data you are dealing with, whether floating point, complex, integer, boolean, string, or general Python object. <br>

When you need more control over how data are stored in memory and on disk, especially large data sets, it is good to know that you have control over the storage type.

Table: <i>NumPy data types</i>

<table>
   <tr>
     <th>Type</th>
     <th>Type Code</th>
     <th>Description</th>
   </tr>
   <tr>
     <td>int8, uint8</td>
     <td>i1, u1</td>
     <td>Signed and unsigned 8-bit (1 byte) integer types</td>
   </tr>
   <tr>
     <td>int16, uint16</td>
     <td>i2, u2</td>
     <td>Signed and unsigned 16-bit integer types</td>
   </tr>
   <tr>
     <td>int32, uint32</td>
     <td>i4, u4</td>
     <td>Signed and unsigned 32-bit integer types</td>
   </tr>
   <tr>
     <td>int64, uint64</td>
     <td>i8, u8</td>
     <td>Signed and unsigned 32-bit integer types</td>
   </tr>
   <tr>
     <td>float16</td>
     <td>f2</td>
     <td>Half-precision floating point</td>
   </tr>
   <tr>
     <td>float32</td>
     <td>f4 or f</td>
     <td>Standard single-precision floating point. Compatible with C float</td>
   </tr>
   <tr>
     <td>float64</td>
     <td>f8 or d</td>
     <td>Standard double-precision floating point. Compatible with C double and Python float object</td>
   </tr>
   <tr>
     <td>float128</td>
     <td>f16 or g</td>
     <td>Extended-precision floating point</td>
   </tr>
   <tr>
     <td>complex64, complex128, complex256</td>
     <td>c8, c16, c32</td>
     <td>Complex numbers represented by two 32, 64, or 128 floats, respectively</td>
   </tr>
   <tr>
     <td>bool</td>
     <td>?</td>
     <td>Boolean type storing True and False values</td>
   </tr>
   <tr>
     <td>object</td>
     <td>O</td>
     <td>Python object type</td>
   </tr>
   <tr>
     <td>string_</td>
     <td>S</td>
     <td>Fixed-length string type (1 byte per character). For example, to create a string dtype with length 10, use 'S10'.</td>
   </tr>
   <tr>
     <td>unicode_ </td>
     <td>U</td>
     <td>Fixed-length unicode type (number of bytes platform specific). Same specification semantics as string_ (e.g. 'U10').</td>
   </tr>
</table>

In most cases they map directly onto an underlying machine representation, which makes it easy to read and write binary streams of data to disk and also to connect to code written in a low-level language like C or Fortran.

The numerical <b>dtypes</b> are named the same way: a type name, like float or int, followed by a number indicating the number of bits per element. A standard double-precision floating point value (what’s used under the hood in Python’s float object) takes up 8 bytes or 64 bits. Thus, this type is known in NumPy as float64.<br>

You can explicitly convert or cast an array from one dtype to another using ndarray’s <b>astype</b> method:

In [301]:
arr = np.array([1, 2, 3, 4, 5])
arr.dtype

dtype('int32')

In [302]:
float_arr = arr.astype(np.float64)
float_arr.dtype

dtype('float64')

In [303]:
float_arr

array([ 1.0000,  2.0000,  3.0000,  4.0000,  5.0000])

In this example, integers were cast to floating point. If I cast some floating point numbers to be of integer <b>dtype</b>, the decimal part will be truncated:

In [304]:
arr = np.array([3.7, -1.2, -2.6, 0.5, 12.9, 10.1])
arr

array([ 3.7000, -1.2000, -2.6000,  0.5000,  12.9000,  10.1000])

In [305]:
arr.astype(np.int32)

array([ 3, -1, -2,  0, 12, 10])

Should you have an array of strings representing numbers, you can use <b>astype</b> to convert them to numeric form:

In [306]:
numeric_strings = np.array(['1.25', '-9.6', '42'], dtype=np.string_)
numeric_strings.astype(float)

array([ 1.2500, -9.6000,  42.0000])

Note how NumPy magic mapped the lazy input of a Python float type (instead of np.float64 say) to the equivalent <b>dtype</b>.

If casting were to fail for some reason (like a string that cannot be converted to float64), a TypeError will be raised.

Another array's <b>dtype</b> can also be used:

In [307]:
int_array = np.arange(10)
int_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [308]:
calibers = np.array([.22, .270, .357, .380, .44, .50], dtype=np.float64)
int_array.astype(calibers.dtype)

array([ 0.0000,  1.0000,  2.0000,  3.0000,  4.0000,  5.0000,  6.0000,
        7.0000,  8.0000,  9.0000])

There are shorthand <b>type code</b> strings for refering to a <b>dtype</b> (see table above):

In [309]:
empty_uint32 = np.empty(8, dtype='u4')
empty_uint32

array([0, 0, 0, 0, 0, 0, 0, 0], dtype=uint32)

<i>Note</i>:

 – Calling <b>astype</b> <u>always</u> creates a new array (a copy of the data), even if the new <b>dtype</b> is the same as the old dtype.
 
 – Keep in mind that floating point numbers, such as those in float64 and float32 arrays, are only capable of approximating fractional quantities. In complex computations, floating point errors may accrue, making comparisons only valid up to a certain number of decimal places.

### Operations between Arrays and Scalars

Arrays are important because they enable you to express batch operations on data
without writing any <i>for</i> loops. This is usually called <i>vectorization</i>. Any arithmetic operations between equal-size arrays applies the operation elementwise:

In [310]:
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr

array([[ 1.0000,  2.0000,  3.0000],
       [ 4.0000,  5.0000,  6.0000]])

In [311]:
arr * arr

array([[ 1.0000,  4.0000,  9.0000],
       [ 16.0000,  25.0000,  36.0000]])

In [312]:
arr - arr

array([[ 0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000]])

Arithmetic operations with scalars are as you would expect, propagating the value to each element:

In [313]:
1/arr

array([[ 1.0000,  0.5000,  0.3333],
       [ 0.2500,  0.2000,  0.1667]])

In [314]:
arr ** (.5)

array([[ 1.0000,  1.4142,  1.7321],
       [ 2.0000,  2.2361,  2.4495]])

Operations between differently sized arrays is called <i>broadcasting</i> and is not covered here.

### Basic Indexing and Slicing

NumPy has rich array indexing possibilities is a rich topic as there are many ways to select a subset of array data or individual elements. One-dimensional arrays are simple; on the surface they act similarly to Python lists:

In [315]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [316]:
arr[5]

5

In [317]:
arr[5:8]

array([5, 6, 7])

An important first distinction from lists is that array slices are views on the original array; that is, the data is not copied, and any modifications to the view will be reflected in the source array, e.g. if a scalar value is assigned to a the value is propagated (<i>broadcasted</i>) to the entire selection:

In [318]:
arr[5:8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [319]:
arr_slice = arr[5:8]
arr_slice[1] = 12345
arr

array([    0,     1,     2,     3,     4,    12, 12345,    12,     8,     9])

In [320]:
arr_slice[:] = 64
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

This is may seem surprising, many other programming languages will copy data more zealously. But NumPy has been designed with large data use cases in mind, and this feature gives a wholly different performance, avoiding memory problems if NumPy had insisted on copying data left and right.

If you want a copy of a slice of an ndarray instead of a view, you will
need to explicitly <b>copy</b> the array:

In [321]:
arr[5:8].copy()

array([64, 64, 64])

With higher dimensional arrays, you have many more options. In a two-dimensional
array, the elements at each index are no longer scalars but rather one-dimensional arrays:

In [322]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d[2]

array([7, 8, 9])

Thus, individual elements can be accessed recursively. But that is a bit too much work, so you can pass a comma-separated list of indices to select individual elements. So these are equivalent:

In [323]:
arr2d[0][2]

3

In [324]:
arr2d[0, 2]

3

In multidimensional arrays, if you omit later indices, the returned object will be a lower-dimensional <b>ndarray</b> consisting of all the data along the higher dimensions:

In [325]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

Both scalar values and arrays can be assigned to arr3d[0]:

In [326]:
old_values = arr3d[0].copy()
arr3d[0].copy()

array([[1, 2, 3],
       [4, 5, 6]])

In [327]:
arr3d[0] = 42
arr3d

array([[[42, 42, 42],
        [42, 42, 42]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [328]:
arr3d[0] = old_values
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

Similarly, arr3d[1, 0] gives you all of the values whose indices start with (1, 0), forming a 1-dimensional array:

In [329]:
arr3d[1, 0]

array([7, 8, 9])

#### Indexing with slices

Like one-dimensional objects such as Python lists, ndarrays can be sliced using the familiar syntax:

In [330]:
arr[1:6]

array([ 1,  2,  3,  4, 64])

Higher dimensional objects give you more options as you can slice one or more axes and also mix integers. Consider the 2D array above, arr2d. Slicing this array is a bit different:

In [331]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [332]:
arr2d[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [333]:
arr2d[:,2]

array([3, 6, 9])

In [334]:
arr2d[:2, 1:]

array([[2, 3],
       [5, 6]])

In [335]:
arr2d[1, :2]

array([4, 5])

In [336]:
arr2d[2, :1]

array([7])

In [337]:
arr2d[:, :1]

array([[1],
       [4],
       [7]])

And again, assigning to a slice expression assigns to the whole selection:

In [338]:
arr2d[:2, 1:]

array([[2, 3],
       [5, 6]])

In [339]:
arr2d[:2, 1:] = 0
arr2d[:2, 1:]

array([[0, 0],
       [0, 0]])

In [340]:
arr2d

array([[1, 0, 0],
       [4, 0, 0],
       [7, 8, 9]])

### Boolean Indexing

In [341]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'],
      dtype='<U4')

In [396]:
data = np.random.randn(7, 4)
data

array([[-1.2677,  0.8496,  1.7805,  0.9648],
       [-0.3331,  0.5207, -0.5398, -1.3375],
       [ 0.3923,  0.5715, -1.4500,  1.1900],
       [ 1.2022, -1.7988,  1.0190, -1.1427],
       [-0.3376, -2.3502, -0.7073, -1.3152],
       [-0.3905,  0.0749,  0.4405,  2.2046],
       [-1.7895, -0.6654,  0.1002, -0.9624]])

(The <b>randn</b> function in <b>numpy.random</b> generates normally distributed  random data.)

Suppose we wanted to select all the rows that correspond to the name 'Bob'.

Like arithmetic operations, comparisons (such as ==) with arrays are also vectorized. Thus, comparing names with the string 'Bob' yields a boolean array, which can be passed when indexing the array:

In [343]:
names == 'Bob'

array([ True, False, False,  True, False, False, False], dtype=bool)

In [344]:
data[names == 'Bob']

array([[-1.6969, -0.4129, -1.5685, -0.1420],
       [-0.4985,  1.6126, -0.5777, -0.6003]])

The boolean array must be of the same length as the axis it is indexing.

You can even mix and match boolean arrays with slices or integers (or sequences of integers, more on this later):

In [345]:
data[names == 'Bob', 2:]

array([[-1.5685, -0.1420],
       [-0.5777, -0.6003]])

In [379]:
data[names == 'Bob', 3]

array([-0.1420, -0.6003])

In [384]:
data[names != 'Bob']

array([[ 1.9446, -1.5057,  0.1126, -0.4102],
       [-1.5955, -0.2124,  1.0386, -0.1145],
       [ 0.3590, -0.5945, -1.2908,  0.1738],
       [-0.2765, -0.2470,  1.4307,  0.2619],
       [ 0.3812,  1.2114,  0.5918,  0.5746]])

Selecting two of the three names to combine multiple boolean conditions, use boolean arithmetic operators like & (and) and | (or):

In [386]:
mask = (names == 'Bob') | (names == 'Will')
mask

array([ True, False,  True,  True,  True, False, False], dtype=bool)

In [395]:
data[mask]

array([[ 0.0000,  0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000,  0.0000]])

Selecting data from an array by boolean indexing <i>always</i> creates a copy of the data, even if the returned array is unchanged.

<i>Note</i>: The Python keywords and and or do not work with boolean arrays.

Setting values with boolean arrays works in a common-sense way. To set all of the negative values in data to 0 we need only do:

In [397]:
data[data < 0] = 0
data

array([[ 0.0000,  0.8496,  1.7805,  0.9648],
       [ 0.0000,  0.5207,  0.0000,  0.0000],
       [ 0.3923,  0.5715,  0.0000,  1.1900],
       [ 1.2022,  0.0000,  1.0190,  0.0000],
       [ 0.0000,  0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0749,  0.4405,  2.2046],
       [ 0.0000,  0.0000,  0.1002,  0.0000]])

Setting whole rows or columns using a 1D boolean array:

In [399]:
data[names != 'Joe'] = 7
data

array([[ 7.0000,  7.0000,  7.0000,  7.0000],
       [ 0.0000,  0.5207,  0.0000,  0.0000],
       [ 7.0000,  7.0000,  7.0000,  7.0000],
       [ 7.0000,  7.0000,  7.0000,  7.0000],
       [ 7.0000,  7.0000,  7.0000,  7.0000],
       [ 0.0000,  0.0749,  0.4405,  2.2046],
       [ 0.0000,  0.0000,  0.1002,  0.0000]])

### Fancy Indexing

<i>Fancy indexing</i> is a term adopted by NumPy to describe indexing using integer arrays.

In [402]:
arr = np.empty((8, 4))

for i in range(8):
    arr[i] = i

arr

array([[ 0.0000,  0.0000,  0.0000,  0.0000],
       [ 1.0000,  1.0000,  1.0000,  1.0000],
       [ 2.0000,  2.0000,  2.0000,  2.0000],
       [ 3.0000,  3.0000,  3.0000,  3.0000],
       [ 4.0000,  4.0000,  4.0000,  4.0000],
       [ 5.0000,  5.0000,  5.0000,  5.0000],
       [ 6.0000,  6.0000,  6.0000,  6.0000],
       [ 7.0000,  7.0000,  7.0000,  7.0000]])

To select out a subset of the rows in a particular order, simply pass a list:

In [403]:
arr[[4, 3, 0, 6]]

array([[ 4.0000,  4.0000,  4.0000,  4.0000],
       [ 3.0000,  3.0000,  3.0000,  3.0000],
       [ 0.0000,  0.0000,  0.0000,  0.0000],
       [ 6.0000,  6.0000,  6.0000,  6.0000]])

In [404]:
arr[[-3, -5, -7]]

array([[ 5.0000,  5.0000,  5.0000,  5.0000],
       [ 3.0000,  3.0000,  3.0000,  3.0000],
       [ 1.0000,  1.0000,  1.0000,  1.0000]])

Passing multiple index arrays does something slightly different; it selects a 1D array of elements corresponding to each tuple of indices:

In [408]:
arr = np.arange(32).reshape((8, 4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [409]:
arr[[1, 5, 7, 2], [0, 3, 1, 2]]

array([ 4, 23, 29, 10])

That is, it works like a coordinate system for picking elements: the elements $(1, 0)$, $(5, 3)$, $(7, 1)$, and $(2, 2)$ were selected.

Instead, one way to obtain the rectangular region formed by selecting a subset of the matrix’s rows and columns is:

In [411]:
arr[[1, 5, 7, 2]][:, [0, 3, 1, 2]]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

Another way is to use the <b>np.ix_</b> function, which converts two 1D integer arrays to an indexer that selects the square region:

In [412]:
arr[np.ix_([1, 5, 7, 2], [0, 3, 1, 2])]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

Fancy indexing, unlike slicing, <i>always</i> copies the data into a new array.

### Transposing Arrays and Swapping Axes

Arrays have the <b>transpose</b> method and also the special <b>T</b> attribute:

In [415]:
arr = np.arange(15).reshape((3, 5))
arr, arr.T

(array([[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14]]), array([[ 0,  5, 10],
        [ 1,  6, 11],
        [ 2,  7, 12],
        [ 3,  8, 13],
        [ 4,  9, 14]]))

To compute the inner matrix product $X^T X$:

In [421]:
arr = np.random.randn(6, 3)
np.dot(arr.T, arr)

array([[ 6.7000, -0.2266,  0.1984],
       [-0.2266,  2.0992, -0.5426],
       [ 0.1984, -0.5426,  1.7920]])

For higher dimensional arrays, <b>transpose</b> will accept a tuple of axis numbers to permute the axes:

In [422]:
arr = np.arange(16).reshape((2, 2, 4))
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [423]:
arr.transpose((1, 0, 2))

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

Simple transposing with <b>.T</b> is just a special case of swapping axes. <b>ndarray</b> has the method <b>swapaxes</b> which takes a pair of axis numbers:

In [424]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [425]:
arr.swapaxes(1, 2)

array([[[ 0,  4],
        [ 1,  5],
        [ 2,  6],
        [ 3,  7]],

       [[ 8, 12],
        [ 9, 13],
        [10, 14],
        [11, 15]]])

<b>swapaxes</b> similarly returns a view on the data without making a copy.

### Universal Functions: Fast Element-wise Array Functions

A universal function, or <i>ufunc</i>, is a function that performs elementwise operations on data in <b>ndarrays</b>, like a fast vectorized wrappers for basic functions that take one or more scalar values and produce one or more scalar results.

In [346]:
m = np.eye(3,3)
print(m)

[[ 1.0000  0.0000  0.0000]
 [ 0.0000  1.0000  0.0000]
 [ 0.0000  0.0000  1.0000]]

In [347]:
m[m>0]=4
print(m)

[[ 4.0000  0.0000  0.0000]
 [ 0.0000  4.0000  0.0000]
 [ 0.0000  0.0000  4.0000]]

In [348]:
old = np.array([[1, 1, 1],
                [1, 1, 1]])

new = old
new[0, :2] = 0

print(old)

[[0 0 1]
 [1 1 1]]

In [349]:
a = np.array([[2,3,4], [1,2,3]])
b = a * 1.0
c = a[1][1] * 1.0
c

2.0

In [350]:
cvalue = [25.4, 24.8, 26.9, 23.9]
C = np.array(cvalue)
C

array([ 25.4000,  24.8000,  26.9000,  23.9000])

In [351]:
(C*9/5 + 32)[0]

77.719999999999999

In [352]:
round((C*9/5 + 32)[0],-1)

80.0

In [353]:
np.array([1,4,9,15])//5.0

array([ 0.0000,  0.0000,  1.0000,  3.0000])

In [354]:
np.arange(0, 10, 0.5, dtype = None)

array([ 0.0000,  0.5000,  1.0000,  1.5000,  2.0000,  2.5000,  3.0000,
        3.5000,  4.0000,  4.5000,  5.0000,  5.5000,  6.0000,  6.5000,
        7.0000,  7.5000,  8.0000,  8.5000,  9.0000,  9.5000])

In [355]:
L, S = np.linspace(0, 50, num = math.pi, retstep=True)
S

25.0

In [356]:
L

array([ 0.0000,  25.0000,  50.0000])

In [357]:
x = np.array([[42,1,2],[1,2,3]])
x

array([[42,  1,  2],
       [ 1,  2,  3]])

In [358]:
x[1][1]

2

In [359]:
x%3

array([[0, 1, 2],
       [1, 2, 0]], dtype=int32)

In [360]:
x.ndim

2

In [361]:
y = np.array([0., 1, 2, 3, 4., 5., 8, 13])

In [362]:
print(y / 1.0)
print(y[1:4]*math.pi)
print(x[0, 1:])

[ 0.0000  1.0000  2.0000  3.0000  4.0000  5.0000  8.0000  13.0000]
[ 3.1416  6.2832  9.4248]
[1 2]

In [363]:
x = np.array([range(0, 51, 5),[x for x in range(0,255,25)],[True,True,True,True,True,False,False,False,False,False]]) 
s = x[0][:6]

In [364]:
x[0][:6]

range(0, 30, 5)

In [365]:
s == x[0][:6]

True

In [366]:
t = np.zeros((9))
t

array([ 0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
        0.0000,  0.0000])

In [367]:
t = t.reshape(3,3)
t

array([[ 0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000]])

In [368]:
x = np.ones((3,3))
y = np.ones_like(x)
z = np.identity(5, dtype=float)

In [369]:
x

array([[ 1.0000,  1.0000,  1.0000],
       [ 1.0000,  1.0000,  1.0000],
       [ 1.0000,  1.0000,  1.0000]])

In [370]:
y

array([[ 1.0000,  1.0000,  1.0000],
       [ 1.0000,  1.0000,  1.0000],
       [ 1.0000,  1.0000,  1.0000]])

In [371]:
z

array([[ 1.0000,  0.0000,  0.0000,  0.0000,  0.0000],
       [ 0.0000,  1.0000,  0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  1.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000,  1.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000,  0.0000,  1.0000]])

In [372]:
q = (np.eye(3,k=-1, dtype=int) + np.eye(3,k=+1, dtype=int)) * 4
q

array([[0, 4, 0],
       [4, 0, 4],
       [0, 4, 0]])

In [373]:
define = (3,3)
define

(3, 3)

In [374]:
rho = np.random.random(define)
rho

array([[ 0.4636,  0.6044,  0.3547],
       [ 0.9731,  0.0120,  0.4973],
       [ 0.7763,  0.3344,  0.9758]])

In [375]:
print('The required random value is', "%.3f" % rho[2][0], 'to 3 d.p.')

The required random value is 0.776 to 3 d.p.

In [376]:
np.empty(define)

array([[ 0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000],
       [ 0.0000,  0.0000,  0.0000]])

In [377]:
print(z)
print(np.average(z))
print(np.median(z) < np.average(z))
print(np.std(z[0]))
print(np.max(z) * math.e)

[[ 1.0000  0.0000  0.0000  0.0000  0.0000]
 [ 0.0000  1.0000  0.0000  0.0000  0.0000]
 [ 0.0000  0.0000  1.0000  0.0000  0.0000]
 [ 0.0000  0.0000  0.0000  1.0000  0.0000]
 [ 0.0000  0.0000  0.0000  0.0000  1.0000]]
0.2
True
0.4
2.71828182846

In [378]:
g = np.dot(q, z[:3,:3]) / 2.5
print(g)

[[ 0.0000  1.6000  0.0000]
 [ 1.6000  0.0000  1.6000]
 [ 0.0000  1.6000  0.0000]]